{% extends "management_base.html" %}
{% load static %}

{% block subcontent %}
<div class="container">

  <div class="" style="padding: 2rem; border: 1px solid white; border-radius: 5px; margin-bottom: 10px;">
    <legend style="text-align: center;">Entradas - desde o início</legend>
    <div id="annual-income" data-url="{% url 'management:annual-income' %}" data-current-year="{{current_year}}">
        <canvas id="annual-income-canvas" style="height: 15rem;"></canvas>
    </div>
  </div>

  <div class="" style="padding: 2rem; border: 1px solid white; border-radius: 5px;">
    <legend style="text-align: center;">Entradas - por ano</legend>
    <select name="month" class="form-control" id="monthly-income-select" style="display: flex; flex-grow: 1;">
      {% for year in years %}
      {% if year == current_year %}
      <option value="{{year}}" selected>{{year}}</option>
      {% else %}
      <option value="{{year}}">{{year}}</option>
      {% endif %}
      {% endfor %}
    </select>
    <div id="monthly-income" data-url="{% url 'management:monthly-income' %}" data-current-year="{{current_year}}">
        <canvas id="monthly-income-canvas" style="height: 15rem;"></canvas>
    </div>
  </div>

</div>

<script type="module" src="{% static 'js/dashboard.js' %}"></script>
{% endblock subcontent %}
