{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static '/css/management.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}


{% block header %}
    {% include "navbar.html" %}
{% endblock %}

{% block content %}
<div class="management-container">
    {% include "sidebar.html" %}
    <div class="management-content">
        {% block subcontent %}
        {% endblock subcontent %}
    </div>
</div>
{% endblock content %}