.login-form {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.error-message {
    color: #940000;
}

.error {
    color: #940000;
}

.input-error {
    border-color: #940000;
}