@media (max-width: 991.98px) {
    .nav-logout {
        display: none;
    }
    .nav-logout-burguer {
        display: block;
    }
    .nav-manage-burguer {
        display: block;
    }
    .nav-manage {
        display: none;
    }
    .sidebar {
        display: none;
    }
}

@media (min-width: 991.98px) {
    .nav-logout {
        display: block;
    }
    .nav-logout-burguer {
        display: none;
    }
    .nav-manage {
        display: block;
    }
    .nav-manage-burguer {
        display: none;
    }
}
